[gpg]
  format = ssh

[commit]
  gpgsign = true

[includeIf "gitdir/i:~/**"]
  path = ~/dotfiles/git/local.gitconfig

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
  path = ~/dotfiles/git/github.gitconfig

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/dotfiles/git/github.gitconfig

[includeIf "hasconfig:remote.*.url:git@ssh.dev.azure.com:v3/ntfairfaxdev/**"]
  path = ~/dotfiles/git/ntfairfaxdev.gitconfig

[includeIf "hasconfig:remote.*.url:git@ssh.dev.azure.com:v3/Fairfax-BR/**"]
  path = ~/dotfiles/git/fairfax.gitconfig
