[includeIf "gitdir/i:~/**"]
  path = ~/dotfiles/.output/git/local.gitconfig

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
  path = ~/dotfiles/.output/git/github.gitconfig

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/dotfiles/.output/git/github.gitconfig

[includeIf "hasconfig:remote.*.url:git@ntfairfaxdev:v3/ntfairfaxdev/**"]
  path = ~/dotfiles/.output/git/ntfairfaxdev.gitconfig

[includeIf "hasconfig:remote.*.url:git@fairfaxbr:v3/Fairfax-BR/**"]
  path = ~/dotfiles/.output/git/fairfaxbr.gitconfig
